/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.bg-primary {
  background: beige !important;
}
.bg-secondary {
  background: gainsboro !important;
}

.border-primary {
  border-color: beige !important;
}
